@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Anek Bangla', sans-serif;
  background-color: #F9FAFB;
  color: #1F2937;
}

/* Hide number input spinners */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}

@media print {
  @page {
    margin: 0;
    size: 58mm auto;
  }
  
  body * {
    visibility: hidden;
  }
  
  .print-receipt-container, .print-receipt-container * {
    visibility: visible;
  }
  .no-print {
    display: none !important;
  }
  
  .print-receipt-container {
    display: block !important;
    position: absolute;
    left: 0;
    top: 0;
    width: 58mm;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
  }
}
