CREATE OR REPLACE FUNCTION lookup_customer(p_phone text) RETURNS json AS \$\$ DECLARE v_customer json; BEGIN SELECT row_to_json(c) INTO v_customer FROM customers c WHERE c.phone_number ILIKE '%' || p_phone || '%' LIMIT 1; RETURN v_customer; END; \$\$ LANGUAGE plpgsql SECURITY DEFINER;
